extends layout

block content
  h1 Dc.js Demo
  div(id='day-of-week-chart')
  div(id='yearly-bubble-chart')
  script(src="/lib/d3.js")
  script(src="/lib/crossfilter.js")
  script(src="/lib/dc.js")
  script(src="javascripts/colorbrewer.js")
  script(src="javascripts/app.js")
